*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #343A40;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: #F4F6F9;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;

}

.panel_izquierdo{
    width: 200px;
    height: 100vh;
    background-color: #343A40;
    position: fixed;
    top: 0; 
    left: 0;
    box-shadow: 0 0 30px #0008;
    padding: 20px;
    
}

.hola_usuario{
    font-size: 20px;
    color: #C2C7D0;
}

.decoracion_linea_izquierda {
    width: 100%;
    height: 2px;
    margin: 12px 0 15px 0;
    background-color: #C2C7D0;
    border: 50%;
}

.lista_paginas a {
    display: block;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 15px;
    font-size: 13px;
    color: #C2C7D0;
}

.lista_paginas a.active {
    background-color: #386FB5;
    color: #ffffff;
    font-weight: bold;
}

.btn_subtitulo{
    color: #C2C7D0;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.linea_separadora_listas_paginas{
    margin: 30px 0px 10px 0px;
    padding: 0;
    width: 100%;
    height: 1px;
    background-color: #C2C7D0;
}

.btn_cerrar_sesion {
    position: absolute;
    bottom: 15px;
    text-decoration:underline 1px 2px;
}

.panel_derecho {
    overflow-y: auto;
    margin: 20px;
    padding: 10px;
    position: relative;
    margin-left: 210px;
    width: calc(100% - 210px);
    max-height: 93vh;
}

.titulo_navegacion_contenido {
    font-size: 40px;
    text-transform: uppercase;
}

.decoracion_linea_derecha {
    width: 100%;
    height: 2px;
    margin: 12px 0 15px 0;
    background-color: #0f0f0f;
    border: 50%;
}

.caja_iframe {
    width: 100%;
    height: 76vh;
    border-style: none;
}









