* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caja_tabla {
    margin: 10px;
    background-color: white;
    padding: 20px;
    max-height: 400px;
    overflow-y: auto;
    width: fit-content;
    border-radius: 15px;
    box-shadow: 0 0 10px #0004;
}

td,th{ 
    padding: 5px 20px;
    border: 1px solid black;
    text-align: center;
    border: none;
    border-bottom: 1px solid black;
}

th {
    background-color: white;
    position: sticky;
    top: 0; 
    z-index: 2;
}