* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caja_formulario {
    display: grid;
    margin: 10px;
    background-color: white;
    padding: 20px;
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 0 10px #0004;
}

.txtinput {
    margin: 0 0 15px 0;
}

.btnregistrar {
    background-color: #386fb5;
    color: white;
}